
                            <section class="project-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "information" }}</h3>

                                {{ range .Site.Params.information.list }}
                                <div class="information-item">
                                    <div class="paper-title mb-2">
                                        {{ .title }}
                                    </div>
                                    <div class="paper-authors mb-2">
                                        <strong>Authors:</strong> {{ .name }}
                                    </div>
                                    <div>
                                        {{ if .href }}
                                        <a href="{{ .href }}" target="_blank" rel="noopener" class="paper-venue">
                                            {{ .publisher }}
                                        </a>
                                        {{ else }}
                                        <span class="paper-venue">{{ .publisher }}</span>
                                        {{ end }}
                                    </div>
                                </div><!--//information-item-->
                                {{ end }}

                            </section><!--//project-section-->
